ads==0.12.2
automium==0.2.6
automium-web==0.1.1
click==6.7
codegen==1.0
Django==1.10.5
django-smart-selects==1.3.2
djangorestframework==3.6.2
document==1.0
Flask==0.12
httpie==0.9.9
httpretty==0.8.10
itsdangerous==0.24
Jinja2==2.9.5
legacy==0.1.6
loginform==1.2.0
lxml==3.7.3
MarkupSafe==0.23
mock==2.0.0
patterns==0.3
pbr==1.10.0
Pygments==2.2.0
requests==2.13.0
six==1.10.0
Werkzeug==0.11.15
